#content {
  display: grid;
  color: white;
}
/* NAVBAR STYLE */

#main {
  background-color: #131633;
  max-height: 70px;
  display: grid;
  grid-column: 3/13;
  color: white;
}
.notify {
  background-color: #cf3633;
  color: black;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
}

nav ul .search-icon {
  height: 30px;
  width: 300px;
  background: #f2f2f2;
  border-radius: 30px;
  background-color: #2a3043;
  align-self: center;
}

nav ul .search-icon input {
  height: 100%;
  width: 250px;
  min-width: 100px;
  float: left;
  border: none;
  padding: 10px;
  outline: none;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  background-color: #2a3042;
  justify-self: center;
  align-self: center;
}
nav ul {
  display: grid;
  grid-template-columns: 55% 40%;
  list-style: none;
}
nav ul .items li {
  float: right;
  grid-column: 7/10;
  justify-self: center;
  align-self: center;
}
nav ul .itemsRTL li {
  float: left;
  grid-column: 7/10;
  justify-self: center;
  align-self: center;
}
nav a .svg {
  margin-top: 18px;
}
nav a:hover svg {
  fill: #cf3633;
  stroke: #cf3633;
  stroke-width: 1;
}

/** AR **/
.svg {
  height: 25px;
  width: 25px;
  fill: #8c909a;
  stroke: #8c909a;
  stroke-width: 1;
  float: right;
}
.svg-ico {
  width: 20px;
  height: 20px;
  float: left !important;
  cursor: pointer;
}
.svg-ico:hover path,
.svg-ico:hover polygon,
.svg-ico:hover rect {
  fill: #cf3633;
}

.svg-ico path,
.svg-ico polygon,
.svg-ico rect {
  fill: #8c909a;
}

.svg-ico circle {
  stroke: #8c909a;
  stroke-width: 1;
}
.toggler {
  margin-top: 17px;
}
/* -----
SVG Icons 
----- */

.svg-icon {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  margin-right: 17px;
  margin-top: 2px;
}
.bell {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  margin-right: 17px;
  margin-top: 2px;
}
.bell:hover {
  filter: #cf3633;
  animation-name: bellHover;
  animation-duration: 0.15s;
  animation-iteration-count: infinite;
}
@keyframes bellHover {
  50% {
    transform: translateX(3px) rotate(2deg);
  }
}

.bell:hover path,
.bell:hover polygon,
.bell:hover rect {
  fill: #cf3633;
}
.bell path,
.bell polygon,
.bell rect {
  fill: #8c909a;
}

.bell circle {
  stroke: #8c909a;
  stroke-width: 1;
}

.svg-icon:hover path,
.svg-icon:hover polygon,
.svg-icon:hover rect {
  fill: #cf3633;
}
.searchfield {
  margin-top: 5px;
  margin-right: 5px;
}
input[type="search"]::placeholder {
  text-align: center;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #8c909a;
}

.svg-icon circle {
  stroke: #8c909a;
  stroke-width: 1;
}

/* SIDEBAR STYLE */

#side {
  background-color: #131633;
  grid-column: 1/3;
  grid-row-start: 1;
  min-height: 579px;
}

.svg {
  height: 25px;
  width: 25px;
  fill: #8c909a;
  stroke: #8c909a;
  stroke-width: 1;
  float: left;
}

#headerlg {
  max-height: 120px;
  max-width: 120px;
  padding: 6px;
}

div #logo {
  max-height: 70px;
}
/* Sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  min-width: 160px;
  background-color: #131633;
  min-height: calc(115vh - 10rem);
  overflow-y: auto;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

/* Links on mouse-over */
.sidebar a:hover {
  background-color: white;
  color: #cf3633;
  font-weight: 600;
  animation: sidelink 3s infinite;
}
@keyframes sidelink {
  50% {
    text-shadow: 10px 10px 10px #8655ab;
  }
}
.sidebar a:hover svg {
  fill: #cf3633;
  stroke: #cf3633;
  stroke-width: 1;
  animation: sidesvg 3s infinite;
}
@keyframes sidesvg {
  50% {
    opacity: 200%;
    font-weight: 900;
  }
}
.svg-ico {
  width: 20px;
  height: 20px;
  float: right !important;
  cursor: pointer;
}
.sidebar a {
  text-align: center;
  float: none;
}
.svg-ico:hover path,
.svg-ico:hover polygon,
.svg-ico:hover rect {
  fill: #cf3633;
}

.svg-ico path,
.svg-ico polygon,
.svg-ico rect {
  fill: #8c909a;
}

.svg-ico circle {
  stroke: #8c909a;
  stroke-width: 1;
}

.sblink #submenu {
  background-color: #ddd;
}
.sblink #submenu a {
  background-color: #ddd;
  font-size: 15px;
  color: #131633;
}
.sblink #submenu a:hover {
  background-color: #ddd;
  font-size: 15px;
  color: #8655ab;
}

#gb-title {
  color: grey;
  font-size: 17px;
  float: left;
  position: relative;
  margin: 10px;
}
#gb-items a {
  color: white;
  margin: 5px;
  padding: 8px;
}
#gb-items a:hover {
  color: purple;
  background-color: #131633;
  margin: 5px;
  padding: 8px;
}
.group-sidebar {
  border-top: 1px solid #757573;
  border-bottom: 1px solid #757573;
  padding: 5px;
}

/* NOTIFICATIONS SECTIONS */

.notify_img img {
  max-width: 80px;
  max-height: 50px;
  float: left;
  overflow: hidden;
  border-radius: 3rem;
  margin-left: 5px;
  padding: 10px;
}
.wrapper {
  background-color: #2a3043;
  color: white;
  border: 1px solid #2a3042;
  position: absolute;
  top: 70px;
  right: 0;
  min-width: 350px;
  max-height: calc(60vh - 9rem);
  overflow-y: auto;
}
.wrapperRTL {
  background-color: #2a3043;
  color: white;
  border: 1px solid #2a3042;
  position: absolute;
  top: 70px;
  left: 0;
  min-width: 350px;
  max-height: calc(60vh - 9rem);
  overflow-y: auto;
}
div.notify_info {
  padding: 5px;
}
div.notify_info p {
  font-size: 14px;
}
span.notify_time {
  font-size: 12px;
  color: #8c909a;
}
div.notify_item {
  border: 1px solid #8c909a;
  cursor: pointer;
}
div.notify_item:hover {
  border: 1px solid #8c909a;
  background-color: #8c909a;
}
div.notify_item:hover span.notify_time {
  color: #2a3043;
}

/* PROFILE STYLE */

img.proImage {
  max-width: 30px;
  max-height: 30px;
  float: left;
  overflow: hidden;
  border-radius: 3rem;
  margin-right: 10px;
}
.pro {
  display: grid;
  background-color: #2a3043;
  right: 0;
  border: 1px solid #2a3042;
  position: absolute;
  top: 70px;
  min-width: 160px;
  overflow-y: auto;
}
.rtlPro {
  display: grid;
  background-color: #2a3043;
  left: 0;
  border: 1px solid #2a3042;
  position: absolute;
  top: 70px;
  min-width: 160px;
  overflow-y: auto;
}
.profile a {
  color: white;
  text-decoration: auto;
  padding: 10px;
}
.profile a:hover {
  color: #cf3633;
  text-decoration: auto;
  padding: 10px;
}
/* HORIZONTAL SIDEBAR */

.hor-sidebar {
  background-color: #384059;
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
}
#horizon-sidebar {
  flex: 1;
  cursor: pointer;
}
.horSb a {
  color: white;
  text-decoration: none;
}

.horSb a:hover {
  color: #cf3633;
  text-decoration: none;
}
.horSb a:hover .arrowB {
  fill: #cf3633;
  stroke: #cf3633;
}
.arrowB {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}
.arrowB:hover path,
.arrowB:hover polygon,
.arrowB:hover rect {
  fill: #cf3633;
}

.arrowB path,
.arrowB polygon,
.arrowB rect {
  fill: white;
}

#hormenu {
  position: absolute;
  background-color: #2a3042;
  overflow-y: auto;
  top: 120px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  border-radius: 1%;
}
#hormenu a {
  padding: 10px;
}
#none {
  display: none;
}

/* Displays */
@media screen and (max-width: 700px) {
  nav ul .search-icon {
    width: 50%;
  }
  svg.svg-icon.searchfield {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  nav ul {
    display: grid;
    grid-template-columns: 40% 60%;
    list-style: none;
  }
  nav ul .search-icon input {
    height: 100%;
    width: 100px;
    min-width: 100px;
    float: left;
    border: none;
    padding: 10px;
    outline: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    background-color: #2a3042;
    justify-self: center;
    align-self: center;
  }
}
